<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Hola mundo</h1>
    <table>
        <thead>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>tel</th>
        </thead>
        <tbody>
            <tr th:each="persona , x : ${personas}">
                <td th:text="${persona.name}"> </td>
                <td th:text="${persona.lastname}"> </td>
                <td th:text="${persona.tel}"> </td>
            </tr>
        </tbody>
    </table>

</body>
</html>