<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymelaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Hola mundo</h1>
    <a th:href="@{/agregar}">Crear persona</a>
    <div th:if="${personas != null and !personas.empty}">
        <table border="1">
            <thead>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>tel</th>
            <th>Editar</th>
            <th> Eliminar</th>
            </thead>
            <tbody>
            <tr th:each="persona : ${personas}">
                <td th:text="${persona.name}"> </td>
                <td th:text="${persona.lastname}"> </td>
                <td th:text="${persona.tel}"> </td>
                <td><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/editar/} + ${persona.idpersona}" th:text="editar"></a></td>
                <td><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/eliminar(idpersona=${persona.idpersona})}" th:text="eliminar"></a></td>
            </tr>
            </tbody>

        </table>
    </div>
    <form method="post" th:action="@{/logout}">
        <b>Username: </b><span sec:authentication="name"> Usuario que login</span>
        <b>Rol: </b><span sec:authentication="principal.authorities"> Roles</span>
        <a href="#" onclick="this.parentNode.submit();">Logout</a>
    </form>


</body>
</html>